{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock css %}

{% block body %}
<h2><b>
    Hey There!
</b></h2>
<hr>
<p class="hey">
    Welcome to my personal website! Here you can find information about me and what I'm doing!
</p>
<p>
    My name is Praneeth Bhandaru, and I currently am going to
    <b>Thomas Jefferson High School For Science and Technology</b>.
    I have been creating my own websites for about 2 years now and developed a hobby in web-development and cs.
    I want to pursue neuroscience as a career and was hoping that you would join me on my bumpy journey ahead.

</p>
<p>
    Even though we all are going through tough times due to <i>COVID-19</i>,
    there is no reason to ever stop learning anything. I myself have learned how
    to code dynamic websites and have also learned how to run machine learning programs.
    One of the many things that I would recommend to do is to increase your knowledge about
    your current hobby, and/or try to find new hobbies to follow! For example, I have taken
    learning to cook upon myself, and am getting help from my parents.
</p>
<p>
    This website is also a place for you to find new inspirations for projects,
    and also for a place where I can take input from you! If you have any idea's on
    how to improve this website, I would recommend contacting me about it. You should also
    contact me if you want any tips on Computer Science or just life in general.
</p>
<p>
    Last thing to note, if you want anyone to talk to or are in troubling times, be
    sure to reach out to people you know. If you don't trust anyone, you can just shoot
    me an email and I'll be glad to help you on your way!
</p>
<p>
    You can navigate around this website to learn more about me.
    If you want to see what I am doing, got to the projects page!
</p>
{% endblock body %}