{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}<link rel="stylesheet" href="{{ DOMAIN }}{% static 'css/home.css' %}">{% endblock css %}

{% block body %}
<ul class="cb-slideshow">
	<li>
		<span style="background-image: url({{ DOMAIN }}{% static 'img/slideshow/1.png' %});"></span>
		<div>
			<h3></h3>
		</div>
	</li>
	<li>
        <span style="background-image: url({{ DOMAIN }}{% static 'img/slideshow/2.png' %})"></span>
		<div>
			<h3></h3>
		</div>
    </li>
	<li>
        <span style="background-image: url({{ DOMAIN }}{% static 'img/slideshow/3.png' %})"></span>
		<div>
			<h3></h3>
		</div>
    </li>
	<li>
        <span style="background-image: url({{ DOMAIN }}{% static 'img/slideshow/4.png' %})"></span>
		<div>
			<h3></h3>
		</div>
    </li>
	<li>
        <span style="background-image: url({{ DOMAIN }}{% static 'img/slideshow/5.png' %})"></span>
		<div>
			<h3></h3>
		</div>
    </li>
	<li>
        <span style="background-image: url({{ DOMAIN }}{% static 'img/slideshow/6.png' %})"></span>
		<div>
			<h3></h3>
		</div>
    </li>
</ul>
{% endblock body %}