{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block css %}<link rel='stylesheet' href="{{ DOMAIN }}{% static 'css/projects.css' %}">{% endblock css %}

{% block body %}
<h2><b>
    Projects
</b></h2>
<hr/>
{% if not projects %}
<h5><b>Sorry, Praneeth Bhandaru has not made any of his projects available on this website yet. Please check again later.</b></h5>
{% else %}


<table class="projectTable">
{% for sublist in projects %}
<tr>
    {% for project in sublist %}
    <td>
        {% if project.title %}
        <a href="{% if project.link_to_project %}{{project.link_to_project}}{% else %}#{% endif %}">
            <div style="background-image: linear-gradient(to bottom right, rgb({{project.r}},{{project.g}},{{project.b}}, {{project.a}}),rgb({{project.r}},{{project.g}},{{project.b}}));">
                <h3><center>{{ project.title }}</center></h3>
                <i><center>Created On: {{ project.date }}</center></i>
                <br>
                <p id="description"> {{ project.description }} </p>
            </div>
        </a>
        {% endif %}
    </td>
    {% endfor %}
</tr>

<!--<h4>{{ project.title }}</h4>-->
<!--<p>Created On: <i>{{project.date}}</i></p>-->
<!--<p>{{project.description}}</p>-->
<!--<hr>-->
{% endfor %}
</table>
{% endif %}
{% endblock body %}